body{
    margin: auto;
    background: rgb(43,195,34);
    background: linear-gradient(0deg, rgba(43,195,34,0.9920343137254902) 0%, rgba(253,45,45,1) 84%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    font-family: 'Hi Melody', sans-serif;

   
}

div {
    /* background-color: burlywood; */
    /* height: 100%; */
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
    height: 100vh;
    display: grid;
    place-items: center;
    color: rgb(63, 23, 4);
}